
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 0;
    overflow-x: hidden;
}

@media (max-width: 767px) {
    nav {
        display: none !important;
    }

    .main-section {
        background-color: #000;
        height: 150vh;
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        opacity: 0;
        transform: translateY(20px);
        transition: all 1.5s ease-in-out;
        text-align: center;
    }

        .main-section.loaded {
            opacity: 1;
            transform: translateY(0);
        }

    .bust-image {
        max-width: 100%;
        height: auto;
        margin-top: 0;
    }

    .main-section .title {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 10;
    }

        .main-section .title h1 {
            font-size: 70px;
            margin: 0;
            font-weight: bold;
            line-height: 1;
        }

        .main-section .title h2 {
            font-size: 30px;
            margin: 0;
            font-style: italic;
        }

    .scroll-down {
        position: absolute;
        right: 20px;
        bottom: 50px;
        font-size: 18px;
    }

    .year {
        position: absolute;
        left: 20px;
        bottom: 50px;
        font-size: 18px;
    }


    .about-section img {
        width: 150px;
        height: 150px;
    }

    .about-section h1 {
        font-size: 30px;
    }

    .about-section p {
        font-size: 16px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }

    .stack-section h1, .contacts-section h1 {
        font-size: 30px;
    }

    .stack-content p, .contacts-content p {
        font-size: 18px;
    }

    .icons img {
        width: 100px;
        height: 100px;
    }

    .contacts-content {
        flex-direction: column;
        padding: 0 20px;
    }

    .bottom-info {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main-section .title h1 {
        font-size: 60px;
    }

    .main-section .title h2 {
        font-size: 28px;
    }

    .about-section img {
        width: 200px;
        height: 200px;
    }

    .container {
        flex-wrap: wrap;
        gap: 15px;
    }

    .card {
        width: 45%;
    }

    .stack-section h1, .contacts-section h1 {
        font-size: 40px;
    }

    .stack-content p, .contacts-content p {
        font-size: 20px;
    }

    .icons img {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 1025px) {
    .main-section .title h1 {
        font-size: 80px;
    }

    .main-section .title h2 {
        font-size: 35px;
    }

    .about-section img {
        width: 250px;
        height: 250px;
    }

    .card {
        width: 30%;
    }

    .stack-section h1, .contacts-section h1 {
        font-size: 45px;
    }

    .stack-content p, .contacts-content p {
        font-size: 24px;
    }

    .icons img {
        width: 150px;
        height: 150px;
    }
}


nav {
    background-color: #000;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: inline-block;
}


    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin-left: auto;
    }

        nav ul li {
            margin: 0 10px;
        }

            nav ul li a {
                text-decoration: none;
                color: #F5F5F5;
                background-color: #73CE2E;
                padding: 10px 20px;
                border-radius: 5px;
                font-weight: bold;
                transition: background-color 0.3s ease;
            }

                nav ul li a:hover {
                    background-color: #55aa22;
                }

.main-section {
    background-color: #000;
    height: 150vh;
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.5s ease-in-out;
    text-align: center;
}

    .main-section.loaded {
        opacity: 1;
        transform: translateY(0);
    }

.bust-image {
    max-width: 100%;
    height: auto;
    margin-top: -50px;
}

    .main-section .title {
        position: absolute;
        top: 150px;
        left: 100px;
        text-align: left;
    }

        .main-section .title h1 {
            font-size: 70px;
            margin: 0;
            font-weight: bold;
            line-height: 1;
        }

        .main-section .title h2 {
            font-size: 30px;
            margin: 0;
            font-style: italic;
            padding-left: 75px;
        }

.scroll-down {
    position: absolute;
    right: 20px;
    bottom: 390px;
    font-size: 18px;
}

.year {
    position: absolute;
    left: 20px;
    bottom: 390px;
    font-size: 18px;
}



.about-section {
    padding: 100px 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

    .about-section img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
        display: block;
        margin: 0 auto 20px auto;
    }

    .about-section h1 {
        font-size: 45px;
        color: #73CE2E;
    }

    .about-section p {
        font-size: 20px;
        line-height: 1.8;
        max-width: 800px;
        margin: 0 auto;
    }

.projects-section {
    padding: 120px 0;
    background-color: #000;
}

    .projects-section h1 {
        text-align: center;
        color: #73CE2E;
        margin-bottom: 70px;
        font-size: 45px;
    }

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
}

.card {
    background-color: #222;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .card:hover {
        transform: scale(1.1);
    }

    .card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card h3 {
        margin: 15px 0;
        font-size: 22px;
        color: #73CE2E;
    }

    .card p {
        margin: 0 15px 15px 15px;
        font-size: 16px;
        color: #bbb;
    }

    .card a {
        text-decoration: none;
        color: inherit;
    }

        .card a:active {
            color: blue;
        }

.stack-section {
    padding: 150px 0;
    background-color: #000;
    color: #fff;
    position: relative;
}

    .stack-section h1 {
        text-align: left;
        color: #73CE2E;
        margin-bottom: 70px;
        font-size: 45px;
        padding-left: 200px;
    }

.stack-content {
    padding-left: 50px;
}

    .stack-content p {
        margin: 20px 0;
        font-size: 35px;
        line-height: 1.8;
        text-align: left;
        color: #F5F5F5;
    }

    .stack-content strong {
        color: #73CE2E;
    }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icons {
    position: absolute;
    right: 200px;
    top: 200px;
    display: flex;
    flex-direction: column;
}

    .icons img {
        width: 150px;
        height: 150px;
        position: relative;
        animation: rotate 10s linear infinite;
    }

.icon-python {
    top: 0;
    right: 0;
    transform-origin: center;
}

.icon-vs {
    top: 50px;
    right: 250px;
    transform-origin: center;
}

.icon-html {
    top: 90px;
    right: -40px;
    transform-origin: center;
}

.contacts-section {
    padding: 100px 0;
    background-color: #000;
    color: #fff;
    position: relative;
    text-align: center;
}

    .contacts-section h1 {
        color: #73CE2E;
        margin-bottom: 50px;
        font-size: 45px;
    }

.contacts-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.left-side, .right-side, .center-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-side {
    margin-left: 70px;
}

.right-side {
    margin-right: 70px;
}

.contact-item {
    margin-bottom: 40px;
    text-align: center;
}

    .contact-item img {
        width: 100px;
        height: auto;
    }

.center-side img {
    width: 150px;
    height: auto;
}

.bottom-info {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.left-corner {
    color: #fff;
    font-size: 14px;
}

.right-corner {
    color: #fff;
    font-size: 14px;
    margin-right: 100px;
}

.contact-item img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

    .contact-item img:hover {
        transform: scale(1.2);
    }

.blast {
    display: inline-block;
    transition: all 0.3s ease;
}

    .blast:hover {
        color: #73CE2E;
        font-size: 60px;
        transform: scale(1.2);
    }


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.blast {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.8s forwards;
    animation-delay: calc(0.1s * var(--index));
}

    .blast:nth-child(1) {
        --index: 1;
    }

    .blast:nth-child(2) {
        --index: 2;
    }

    .blast:nth-child(3) {
        --index: 3;
    }

    .blast:nth-child(4) {
        --index: 4;
    }

    .blast:nth-child(5) {
        --index: 5;
    }

    .blast:nth-child(6) {
        --index: 6;
    }

    .blast:nth-child(7) {
        --index: 7;
    }

    .blast:nth-child(8) {
        --index: 8;
    }

    .blast:nth-child(9) {
        --index: 9;
    }


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    color: #fff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #f00;
        cursor: pointer;
    }
